<a href="https://colab.research.google.com/github/aansheeagrwal/python-training/blob/main/pandasBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
labels = ['a', 'b', 'c',]
print(labels)

['a', 'b', 'c']

In [5]:
my_data = [10,20,30]
print(my_data)

[10, 20, 30]

In [6]:
arr = np.array(my_data)
print(arr)

[10 20 30]

In [7]:
d = {'a':10, 'b':20, 'c':30}
print(d)

{'a': 10, 'b': 20, 'c': 30}

In [8]:
print(type(pd.Series(data=my_data)))

<class 'pandas.core.series.Series'>

In [9]:
# define index
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [10]:
p_series = pd.Series(arr)
print(p_series)

0    10
1    20
2    30
dtype: int64

In [11]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [12]:
# using dictionary
pd.Series(d)
print(d)

{'a': 10, 'b': 20, 'c': 30}

In [13]:
#Series can hold any kind of data object with python like string, integer
print(pd.Series(labels))
print(pd.Series(data = labels))

0    a
1    b
2    c
dtype: object
0    a
1    b
2    c
dtype: object

In [14]:
pd.Series([sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [15]:
s1 = pd.Series([1, 2, 3, 4], ['A', 'B', 'C', 'D'])
print(s1)
s2 = pd.Series([1, 2, 5, 4], ['A', 'B', 'C', 'D'])
print(s2)
print(s1['A'])

A    1
B    2
C    3
D    4
dtype: int64
A    1
B    2
C    5
D    4
dtype: int64
1

In [16]:
# all operations in series are based on index in order to retrain all possible information pandas will convert int values to float
print(s1+s2)

A    2
B    4
C    8
D    8
dtype: int64

In [17]:
# Data Frame
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(101)

In [18]:
df = pd.DataFrame(randn(5,4), ['A', 'B', 'C', 'D', 'E'], ['K', 'L', 'M', 'N'])
print(df)

          K         L         M         N
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [19]:
print(df["K"])

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: K, dtype: float64

In [20]:
print(type(df["K"]))

<class 'pandas.core.series.Series'>

In [21]:
# single column will return series object, multiple columns will return dataframe.
print(df[['K']])
print(type(df[['K']]))
print(df['L'])
print(type(df['L']))
print(df[['K', 'M']])
print(type(df[['K', 'M']]))

          K
A  2.706850
B  0.651118
C -2.018168
D  0.188695
E  0.190794
<class 'pandas.core.frame.DataFrame'>
A    0.628133
B   -0.319318
C    0.740122
D   -0.758872
E    1.978757
Name: L, dtype: float64
<class 'pandas.core.series.Series'>
          K         M
A  2.706850  0.907969
B  0.651118 -0.848077
C -2.018168  0.528813
D  0.188695 -0.933237
E  0.190794  2.605967
<class 'pandas.core.frame.DataFrame'>

In [22]:
df["G"] = df["K"] + df["L"]
print(df)

          K         L         M         N         G
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552

In [23]:
df = df.drop('G', axis=1)
print(df)

          K         L         M         N
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [24]:
# axis = 1 refer to columns
#axis = 0 refer to rows

# df = df.drop('E', axis = 0)
#print(df)

In [25]:
df.drop('K', axis=1, inplace=True)
print(df)

          L         M         N
A  0.628133  0.907969  0.503826
B -0.319318 -0.848077  0.605965
C  0.740122  0.528813 -0.589001
D -0.758872 -0.933237  0.955057
E  1.978757  2.605967  0.683509

In [26]:
#inplace = False, which is the default, then the operation is performed and it returs a copy of the object

In [27]:
import pandas as pd
import numpy as np

In [28]:
labels = ["a","b","c"]
print(labels)
my_data = [10,20,30]
print(my_data)
arr = np.array(my_data)
print(arr)
d = {"a":10, "b":20, "c":30}
print(d)

['a', 'b', 'c']
[10, 20, 30]
[10 20 30]
{'a': 10, 'b': 20, 'c': 30}

In [29]:
print(df)

          L         M         N
A  0.628133  0.907969  0.503826
B -0.319318 -0.848077  0.605965
C  0.740122  0.528813 -0.589001
D -0.758872 -0.933237  0.955057
E  1.978757  2.605967  0.683509

In [30]:
print(df<1)

       L      M     N
A   True   True  True
B   True   True  True
C   True   True  True
D   True   True  True
E  False  False  True

In [31]:
#Assign and create new dataframe
#Condition applied on entire dataframe
boolean_df = df<1
print(boolean_df) # this is a new boolean dataframe
print(df[boolean_df]) # this is a new dataframe
print("*"*50)
print("We can combine above two instructions in one step")
print(df[df<1])

       L      M     N
A   True   True  True
B   True   True  True
C   True   True  True
D   True   True  True
E  False  False  True
          L         M         N
A  0.628133  0.907969  0.503826
B -0.319318 -0.848077  0.605965
C  0.740122  0.528813 -0.589001
D -0.758872 -0.933237  0.955057
E       NaN       NaN  0.683509
**************************************************
We can combine above two instructions in one step
          L         M         N
A  0.628133  0.907969  0.503826
B -0.319318 -0.848077  0.605965
C  0.740122  0.528813 -0.589001
D -0.758872 -0.933237  0.955057
E       NaN       NaN  0.683509

In [32]:
from numpy.random import randn
df = pd.DataFrame(randn(5,4), ['A', 'B', 'C', 'D', 'E'], ['K', 'L', 'M', 'N'])
print(df)
print(df<1)
#Assign and create new dataframe
#Condition applied on entire dataframe
boolean_df = df<1
print(boolean_df) # this is a new boolean dataframe
print(df[boolean_df]) # this is a new dataframe
print("*"*50)
print("We can combine above two instructions in one step")
print(df[df<1])

          K         L         M         N
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652
      K      L     M      N
A  True  False  True   True
B  True   True  True   True
C  True   True  True   True
D  True   True  True   True
E  True  False  True  False
      K      L     M      N
A  True  False  True   True
B  True   True  True   True
C  True   True  True   True
D  True   True  True   True
E  True  False  True  False
          K         L         M         N
A  0.302665       NaN -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773       NaN  0.238127       NaN
**************************************************
We can combine above two instructions in one step
          K         L         M         N
A  0.302665       NaN -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773       NaN  0.238127       NaN

In [33]:
#Apply on columns
print(df['K'])
print(df['K']>0)
df[df['K']>0] # Unlike the previous one,
# it will return rows where df['K']>0 is True.

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: K, dtype: float64
A     True
B    False
C     True
D    False
E    False
Name: K, dtype: bool

          K         L         M         N
A  0.302665  1.693723 -1.706086 -1.159119
C  0.807706  0.072960  0.638787  0.329646

In [34]:
df[boolean_df]
print(df[boolean_df])
print('*'*50)
print('We can combine above two instructions')
df[df<1]

#Apply on columns
print(df['K']>0)
df[df['K']>0] # Unlike the previous one,
# it will return rows where df['K']>0 is True.

          K         L         M         N
A  0.302665       NaN -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773       NaN  0.238127       NaN
**************************************************
We can combine above two instructions
A     True
B    False
C     True
D    False
E    False
Name: K, dtype: bool

          K         L         M         N
A  0.302665  1.693723 -1.706086 -1.159119
C  0.807706  0.072960  0.638787  0.329646

In [35]:
#return rows where column value k
#happens to be less than 0 and returns value of column M
print(df[df['K']>0]['M'])
print(df[df['K']>0][['M','N']])

A   -1.706086
C    0.638787
Name: M, dtype: float64
          M         N
A -1.706086 -1.159119
C  0.638787  0.329646

In [36]:
#Multiple Conditions
df[(df['K']>0) & (df['M']>0)] #ambiguous and operation
#element-wise logical operators will do the needful.
#True and True
#True and false
df['K']>0
df[(df['K']>0) & (df['M']>0)]

          K        L         M         N
C  0.807706  0.07296  0.638787  0.329646

In [37]:
df
df.reset_index() #inplace param is false
                 # by default here
df

          K         L         M         N
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [38]:
df
df.reset_index() #inplace param is false
                 # by default here
df

          K         L         M         N
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [39]:
#Selecting Rows
print(df)
print('*'*50)
df.loc['A']

df.iloc[0]
df.loc['A', 'K']
print(df.shape)
print(df.loc[['A','B'],['K','L']])
#Test by providing tuple of tuple
#Read about loc, iloc, ix, nunique in detail

          K         L         M         N
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652
**************************************************
(5, 4)
          K         L
A  0.302665  1.693723
B -0.134841  0.390528

In [41]:
import pandas
df=pandas.read_csv("video26_dataset_1.tsv", sep='\t')
print(df)
print(type(df))
print(df.shape)
print("df.columns: ",df.columns)
print("type(df.columns): ",type(df.columns))
print("df.dtypes: ", df.dtypes)
print("type(df.dtypes): ", type(df.dtypes))
print("*"*50)
print("df.info(): ",df.info())
country= df["country"]
print('country: ',country)
print('type(country)',type(country))
countries= set(country)  #set i.e. unique country
print(countries)
print("*"*50)
for c in countries: print(c)
a=df[["country","year"]]
print(a.head())
print(a.tail())
print("*"*50)
print('a.iloc[4] : ',a.iloc[4])   # iloc record at location/index 4
print("type(a.iloc[4]): ", type(a.iloc[4]))    #Single index for one row [1] returns a Pandas Series.
print("df.iloc[4]: ",df.iloc[4])
print("*"*50)
print(df.iloc[ :, 0])
# this will return all rows and first columns of data frame, list of indexes [[row, column]] returns a Pandas DataFrame.
print('type(df.iloc[ :, 0]): ',type(df.iloc[ :, 0]))
print("*"*50)
print(df.iloc[range(0,10,2)])
print("*"*50)
#pandas for SQL
print(df.groupby("country")["pop"].sum())

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]
<class 'pandas.core.frame.DataFrame'>
(1704, 6)
df.columns:  Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')
type(df.columns):  <class 'pandas.core.indexes.base.Index'>
df.dtypes:  country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object
type(df.dtypes):  <class 'pandas.core.series.Series'>
**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
df.info():  None
country:  0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object
type(country) <class 'pandas.core.series.Series'>
{'Central African Republic', 'Mozambique', 'Lesotho', 'Switzerland', 'Uganda', 'Denmark', 'Gabon', 'United Kingdom', 'Sweden', 'Niger', 'Equatorial Guinea', 'Singapore', 'Canada', 'Egypt', 'Lebanon', 'Congo, Dem. Rep.', 'Mauritania', 'Malawi', 'Peru', "Cote d'Ivoire", 'Honduras', 'Mongolia', 'Myanmar', 'Bolivia', 'Brazil', 'Iran', 'Afghanistan', 'Eritrea', 'Uruguay', 'Liberia', 'Ecuador', 'Iraq', 'Slovak Republic', 'Panama', 'Hungary', 'Czech Republic', 'Reunion', 'France', 'Ireland', 'Vietnam', 'Swaziland', 'Benin', 'Senegal', 'Nepal', 'Norway', 'Pakistan', 'India', 'Ethiopia', 'Angola', 'Austria', 'Rwanda', 'Jordan', 'Nigeria', 'Bahrain', 'Paraguay', 'Burkina Faso', 'Cambodia', 'Comoros', 'Ghana', 'Romania', 'Kuwait', 'Thailand', 'Tanzania', 'Netherlands', 'Saudi Arabia', 'Montenegro', 'Argentina', 'Namibia', 'Congo, Rep.', 'Oman', 'Djibouti', 'Greece', 'Sao Tome and Principe', 'Finland', 'Sierra Leone', 'Poland', 'Guatemala', 'West Bank and Gaza', 'Korea, Dem. Rep.', 'Australia', 'Spain', 'Hong Kong, China', 'Taiwan', 'Italy', 'Syria', 'Cuba', 'Jamaica', 'Mexico', 'Trinidad and Tobago', 'Bosnia and Herzegovina', 'Libya', 'Israel', 'Bulgaria', 'Madagascar', 'Turkey', 'United States', 'Venezuela', 'Zimbabwe', 'Korea, Rep.', 'Cameroon', 'Yemen, Rep.', 'Japan', 'Philippines', 'Somalia', 'Costa Rica', 'Chad', 'Guinea-Bissau', 'Sri Lanka', 'Zambia', 'Mauritius', 'Belgium', 'Gambia', 'Iceland', 'Nicaragua', 'Guinea', 'Botswana', 'Portugal', 'Haiti', 'China', 'Colombia', 'South Africa', 'Kenya', 'Dominican Republic', 'Algeria', 'Serbia', 'Togo', 'Puerto Rico', 'Sudan', 'New Zealand', 'Chile', 'Bangladesh', 'El Salvador', 'Malaysia', 'Slovenia', 'Albania', 'Tunisia', 'Croatia', 'Germany', 'Indonesia', 'Mali', 'Morocco', 'Burundi'}
**************************************************
Central African Republic
Mozambique
Lesotho
Switzerland
Uganda
Denmark
Gabon
United Kingdom
Sweden
Niger
Equatorial Guinea
Singapore
Canada
Egypt
Lebanon
Congo, Dem. Rep.
Mauritania
Malawi
Peru
Cote d'Ivoire
Honduras
Mongolia
Myanmar
Bolivia
Brazil
Iran
Afghanistan
Eritrea
Uruguay
Liberia
Ecuador
Iraq
Slovak Republic
Panama
Hungary
Czech Republic
Reunion
France
Ireland
Vietnam
Swaziland
Benin
Senegal
Nepal
Norway
Pakistan
India
Ethiopia
Angola
Austria
Rwanda
Jordan
Nigeria
Bahrain
Paraguay
Burkina Faso
Cambodia
Comoros
Ghana
Romania
Kuwait
Thailand
Tanzania
Netherlands
Saudi Arabia
Montenegro
Argentina
Namibia
Congo, Rep.
Oman
Djibouti
Greece
Sao Tome and Principe
Finland
Sierra Leone
Poland
Guatemala
West Bank and Gaza
Korea, Dem. Rep.
Australia
Spain
Hong Kong, China
Taiwan
Italy
Syria
Cuba
Jamaica
Mexico
Trinidad and Tobago
Bosnia and Herzegovina
Libya
Israel
Bulgaria
Madagascar
Turkey
United States
Venezuela
Zimbabwe
Korea, Rep.
Cameroon
Yemen, Rep.
Japan
Philippines
Somalia
Costa Rica
Chad
Guinea-Bissau
Sri Lanka
Zambia
Mauritius
Belgium
Gambia
Iceland
Nicaragua
Guinea
Botswana
Portugal
Haiti
China
Colombia
South Africa
Kenya
Dominican Republic
Algeria
Serbia
Togo
Puerto Rico
Sudan
New Zealand
Chile
Bangladesh
El Salvador
Malaysia
Slovenia
Albania
Tunisia
Croatia
Germany
Indonesia
Mali
Morocco
Burundi
       country  year
0  Afghanistan  1952
1  Afghanistan  1957
2  Afghanistan  1962
3  Afghanistan  1967
4  Afghanistan  1972
       country  year
1699  Zimbabwe  1987
1700  Zimbabwe  1992
1701  Zimbabwe  1997
1702  Zimbabwe  2002
1703  Zimbabwe  2007
**************************************************
a.iloc[4] :  country    Afghanistan
year              1972
Name: 4, dtype: object
type(a.iloc[4]):  <class 'pandas.core.series.Series'>
df.iloc[4]:  country      Afghanistan
continent           Asia
year                1972
lifeExp           36.088
pop             13079460
gdpPercap     739.981106
Name: 4, dtype: object
**************************************************
0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object
type(df.iloc[ :, 0]):  <class 'pandas.core.series.Series'>
**************************************************
       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
**************************************************
country
Afghanistan           189884585
Albania                30962990
Algeria               238504874
Angola                 87712681
Argentina             343226879
                        ...
Vietnam               654822851
West Bank and Gaza     22183278
Yemen, Rep.           130118302
Zambia                 76245658
Zimbabwe               91703593
Name: pop, Length: 142, dtype: int64

In [53]:
# Merging/ joining
import pandas
citiesDataFrame = pandas.DataFrame({"city_code":[1,2,3,4,5], "city_name":["ujjain","Indore","Bangalore","Mumbai","Pune"]})
studentDataFrame=pandas.DataFrame({"student_roll_no":[101,102,103,104,105], "student_name":["Nmae1","Name2","Name3","Name4","Name5"],"city_code":[1,2,1,3,4]})
companyDataFrame = pandas.DataFrame({"company_id":[11,12,13,14,15], "city":[1,2,1,3,4]})
print(citiesDataFrame)
print(citiesDataFrame.info())

students_with_cities = pandas.merge(studentDataFrame, citiesDataFrame, how = "inner", on="city_code")
print(students_with_cities)
#if both dataframe may have different names for city code
companyDataFrame=pandas.merge(citiesDataFrame, companyDataFrame, how="inner", left_on=["city_code"], right_on=["city"])
#print("companyDataFrame:\n",companyDataFrame)
#print("type(companyDataFrame):", type(companyDataFrame))
#company_cities = companyDataFrame.iloc[ : , 1] # all rows first
print(studentDataFrame)
print(companyDataFrame)

   city_code  city_name
0          1     ujjain
1          2     Indore
2          3  Bangalore
3          4     Mumbai
4          5       Pune
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   city_code  5 non-null      int64
 1   city_name  5 non-null      object
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes
None
   student_roll_no student_name  city_code  city_name
0              101        Nmae1          1     ujjain
1              102        Name2          2     Indore
2              103        Name3          1     ujjain
3              104        Name4          3  Bangalore
4              105        Name5          4     Mumbai
   student_roll_no student_name  city_code
0              101        Nmae1          1
1              102        Name2          2
2              103        Name3          1
3              104        Name4          3
4              105        Name5          4
   city_code  city_name  company_id  city
0          1     ujjain          11     1
1          1     ujjain          13     1
2          2     Indore          12     2
3          3  Bangalore          14     3
4          4     Mumbai          15     4

In [59]:
# Read json file
import json
#opening json file
f=open('Employee.json')
#Return JSON object as Dictionary
employee_data = json.load(f)

#Iterating through the Json list
for i in employee_data['emp_details']:
    print(i)
    print(type(i))
# closing file
f.close()

{'emp_name': 'XYZ', 'email_id': 'XYZ@gmail.com', 'job_profile': 'Data Scientist'}
<class 'dict'>
{'emp_name': 'A', 'email_id': 'A@gmail.com', 'job_profile': 'Manager'}
<class 'dict'>

In [67]:
import pandas
series_data = pandas.Series([10,20,30,40,50])
#Apply the builtin functions sum and len using .agg
result = series_data.agg([sum, len])
# this returns a new series where the index is the name of the function, and the values are the result of applying those functions.
print(result)

sum    150
len      5
dtype: int64

/tmp/ipython-input-67-1264989500.py:4: FutureWarning: The provided callable <built-in function sum> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  result = series_data.agg([sum, len])

In [68]:
def string_length(s):
    print("string_length called")
    return len(s)
def int_length(i):
    print("int_legth called")
    return string_length(str(i))

def get_length_of_elements(t):
  a=[]
  for x in t:
   if isinstance(x, int): a.append(int_length)
   if isinstance(x, str): a.append(string_length)
  return  length_of_element_iterator_factory(t,a)

class length_of_element_iterator_factory:
    def __init__(self, t, a):
       self.t=t
       self.a=a
    def __iter__(self):
       return length_of_element_iterator(self)

class length_of_element_iterator:
    def __init__(self, obj):
        self.t= obj.t
        self.a= obj.a
        self.index= 0
    def __next__(self):
        if self.index >= len(self.t):
           raise StopIteration
        k= self.a[self.index](self.t[self.index])
        self.index +=1
        return k



x=(10,20,"Good", "Example of functional programming", 30)
b= get_length_of_elements(x)
print()
print()
print("called length of elements")
print()
print()
for i in b: print(i)

called length of elements


int_legth called
string_length called
2
int_legth called
string_length called
2
string_length called
4
string_length called
33
int_legth called
string_length called
2