<a href="https://colab.research.google.com/github/aansheeagrwal/python-training/blob/main/pandasBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd

In [11]:
import numpy as np

In [12]:
labels = ['a', 'b', 'c',]
print(labels)

['a', 'b', 'c']

In [13]:
my_data = [10,20,30]
print(my_data)

[10, 20, 30]

In [14]:
arr = np.array(my_data)
print(arr)

[10 20 30]

In [15]:
d = {'a':10, 'b':20, 'c':30}
print(d)

{'a': 10, 'b': 20, 'c': 30}

In [17]:
print(type(pd.Series(data=my_data)))

<class 'pandas.core.series.Series'>

In [18]:
# define index
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [19]:
p_series = pd.Series(arr)
print(p_series)

0    10
1    20
2    30
dtype: int64

In [20]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [21]:
# using dictionary
pd.Series(d)
print(d)

{'a': 10, 'b': 20, 'c': 30}

In [22]:
#Series can hold any kind of data object with python like string, integer
print(pd.Series(labels))
print(pd.Series(data = labels))

0    a
1    b
2    c
dtype: object
0    a
1    b
2    c
dtype: object

In [23]:
pd.Series([sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [24]:
s1 = pd.Series([1, 2, 3, 4], ['A', 'B', 'C', 'D'])
print(s1)
s2 = pd.Series([1, 2, 5, 4], ['A', 'B', 'C', 'D'])
print(s2)
print(s1['A'])

A    1
B    2
C    3
D    4
dtype: int64
A    1
B    2
C    5
D    4
dtype: int64
1

In [25]:
# all operations in series are based on index in order to retrain all possible information pandas will convert int values to float
print(s1+s2)

A    2
B    4
C    8
D    8
dtype: int64

In [26]:
# Data Frame
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(101)

In [30]:
df = pd.DataFrame(randn(5,4), ['A', 'B', 'C', 'D', 'E'], ['K', 'L', 'M', 'N'])
print(df)

          K         L         M         N
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [31]:
print(df["K"])

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: K, dtype: float64

In [32]:
print(type(df["K"]))

<class 'pandas.core.series.Series'>

In [35]:
# single column will return series object, multiple columns will return dataframe.
print(df[['K']])
print(type(df[['K']]))
print(df['L'])
print(type(df['L']))
print(df[['K', 'M']])
print(type(df[['K', 'M']]))

          K
A  0.302665
B -0.134841
C  0.807706
D -0.497104
E -0.116773
<class 'pandas.core.frame.DataFrame'>
A    1.693723
B    0.390528
C    0.072960
D   -0.754070
E    1.901755
Name: L, dtype: float64
<class 'pandas.core.series.Series'>
          K         M
A  0.302665 -1.706086
B -0.134841  0.166905
C  0.807706  0.638787
D -0.497104 -0.943406
E -0.116773  0.238127
<class 'pandas.core.frame.DataFrame'>

In [36]:
df["G"] = df["K"] + df["L"]
print(df)

          K         L         M         N         G
A  0.302665  1.693723 -1.706086 -1.159119  1.996388
B -0.134841  0.390528  0.166905  0.184502  0.255687
C  0.807706  0.072960  0.638787  0.329646  0.880666
D -0.497104 -0.754070 -0.943406  0.484752 -1.251174
E -0.116773  1.901755  0.238127  1.996652  1.784981

In [37]:
df = df.drop('G', axis=1)
print(df)

          K         L         M         N
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [38]:
# axis = 1 refer to columns
#axis = 0 refer to rows

# df = df.drop('E', axis = 0)
#print(df)

In [39]:
df.drop('K', axis=1, inplace=True)
print(df)

          L         M         N
A  1.693723 -1.706086 -1.159119
B  0.390528  0.166905  0.184502
C  0.072960  0.638787  0.329646
D -0.754070 -0.943406  0.484752
E  1.901755  0.238127  1.996652

In [40]:
#inplace = False, which is the default, then the operation is performed and it returs a copy of the object

In [41]:
import pandas as pd
import numpy as np

In [42]:
labels = ["a","b","c"]
print(labels)
my_data = [10,20,30]
print(my_data)
arr = np.array(my_data)
print(arr)
d = {"a":10, "b":20, "c":30}
print(d)

['a', 'b', 'c']
[10, 20, 30]
[10 20 30]
{'a': 10, 'b': 20, 'c': 30}

In [43]:
print(df)

          L         M         N
A  1.693723 -1.706086 -1.159119
B  0.390528  0.166905  0.184502
C  0.072960  0.638787  0.329646
D -0.754070 -0.943406  0.484752
E  1.901755  0.238127  1.996652

In [44]:
print(df<1)

       L     M      N
A  False  True   True
B   True  True   True
C   True  True   True
D   True  True   True
E  False  True  False

In [45]:
#Assign and create new dataframe
#Condition applied on entire dataframe
boolean_df = df<1
print(boolean_df) # this is a new boolean dataframe
print(df[boolean_df]) # this is a new dataframe
print("*"*50)
print("We can combine above two instructions in one step")
print(df[df<1])

       L     M      N
A  False  True   True
B   True  True   True
C   True  True   True
D   True  True   True
E  False  True  False
          L         M         N
A       NaN -1.706086 -1.159119
B  0.390528  0.166905  0.184502
C  0.072960  0.638787  0.329646
D -0.754070 -0.943406  0.484752
E       NaN  0.238127       NaN
**************************************************
We can combine above two instructions in one step
          L         M         N
A       NaN -1.706086 -1.159119
B  0.390528  0.166905  0.184502
C  0.072960  0.638787  0.329646
D -0.754070 -0.943406  0.484752
E       NaN  0.238127       NaN

In [46]:
from numpy.random import randn
df = pd.DataFrame(randn(5,4), ['A', 'B', 'C', 'D', 'E'], ['K', 'L', 'M', 'N'])
print(df)
print(df<1)
#Assign and create new dataframe
#Condition applied on entire dataframe
boolean_df = df<1
print(boolean_df) # this is a new boolean dataframe
print(df[boolean_df]) # this is a new dataframe
print("*"*50)
print("We can combine above two instructions in one step")
print(df[df<1])

          K         L         M         N
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478
       K      L     M      N
A   True   True  True   True
B  False   True  True   True
C  False   True  True   True
D   True   True  True  False
E   True  False  True   True
       K      L     M      N
A   True   True  True   True
B  False   True  True   True
C  False   True  True   True
D   True   True  True  False
E   True  False  True   True
          K         L         M         N
A -0.993263  0.196800 -1.136645  0.000366
B       NaN -0.156598 -0.031579  0.649826
C       NaN -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769       NaN
E -0.925874       NaN -1.133817  0.610478
**************************************************
We can combine above two instructions in one step
          K         L         M         N
A -0.993263  0.196800 -1.136645  0.000366
B       NaN -0.156598 -0.031579  0.649826
C       NaN -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769       NaN
E -0.925874       NaN -1.133817  0.610478

In [47]:
#Apply on columns
print(df['K'])
print(df['K']>0)
df[df['K']>0] # Unlike the previous one,
# it will return rows where df['K']>0 is True.

A   -0.993263
B    1.025984
C    2.154846
D    0.147027
E   -0.925874
Name: K, dtype: float64
A    False
B     True
C     True
D     True
E    False
Name: K, dtype: bool

          K         L         M         N
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810

In [48]:
df[boolean_df]
print(df[boolean_df])
print('*'*50)
print('We can combine above two instructions')
df[df<1]

#Apply on columns
print(df['K']>0)
df[df['K']>0] # Unlike the previous one,
# it will return rows where df['K']>0 is True.

          K         L         M         N
A -0.993263  0.196800 -1.136645  0.000366
B       NaN -0.156598 -0.031579  0.649826
C       NaN -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769       NaN
E -0.925874       NaN -1.133817  0.610478
**************************************************
We can combine above two instructions
A    False
B     True
C     True
D     True
E    False
Name: K, dtype: bool

          K         L         M         N
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810

In [55]:
#return rows where column value k
#happens to be less than 0 and returns value of column M
print(df[df['K']>0]['M'])
print(df[df['K']>0][['M','N']])

B   -0.031579
C   -0.755325
D    0.558769
Name: M, dtype: float64
          M         N
B -0.031579  0.649826
C -0.755325 -0.346419
D  0.558769  1.024810

In [56]:
#Multiple Conditions
df[(df['K']>0) & (df['M']>0)] #ambiguous and operation
#element-wise logical operators will do the needful.
#True and True
#True and false
df['K']>0
df[(df['K']>0) & (df['M']>0)]

          K         L         M        N
D  0.147027 -0.479448  0.558769  1.02481

In [57]:
df
df.reset_index() #inplace param is false
                 # by default here
df

          K         L         M         N
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [58]:
df
df.reset_index() #inplace param is false
                 # by default here
df

          K         L         M         N
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [61]:
#Selecting Rows
print(df)
print('*'*50)
df.loc['A']

df.iloc[0]
df.loc['A', 'K']
print(df.shape)
print(df.loc[['A','B'],['K','L']])
#Test by providing tuple of tuple
#Read about loc, iloc, ix, nunique in detail

          K         L         M         N
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478
**************************************************
(5, 4)
          K         L
A -0.993263  0.196800
B  1.025984 -0.156598

In [66]:
import pandas
df=pandas.read_csv("video26_dataset_1.tsv", sep='\t')
print(df)
print(type(df))
print(df.shape)
print("df.columns: ",df.columns)
print("type(df.columns): ",type(df.columns))
print("df.dtypes: ", df.dtypes)
print("type(df.dtypes): ", type(df.dtypes))
print("*"*50)
print("df.info(): ",df.info())
country= df["country"]
print('country: ',country)
print('type(country)',type(country))
countries= set(country)  #set i.e. unique country
print(countries)
print("*"*50)
for c in countries: print(c)
a=df[["country","year"]]
print(a.head())
print(a.tail())
print("*"*50)
print('a.iloc[4] : ',a.iloc[4])   # iloc record at location/index 4
print("type(a.iloc[4]): ", type(a.iloc[4]))    #Single index for one row [1] returns a Pandas Series.
print("df.iloc[4]: ",df.iloc[4])
print("*"*50)
print(df.iloc[ :, 0])
# this will return all rows and first columns of data frame, list of indexes [[row, column]] returns a Pandas DataFrame.
print('type(df.iloc[ :, 0]): ',type(df.iloc[ :, 0]))
print("*"*50)
print(df.iloc[range(0,10,2)])
print("*"*50)
#pandas for SQL
print(df.groupby("country")["pop"].sum())

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]
<class 'pandas.core.frame.DataFrame'>
(1704, 6)
df.columns:  Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')
type(df.columns):  <class 'pandas.core.indexes.base.Index'>
df.dtypes:  country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object
type(df.dtypes):  <class 'pandas.core.series.Series'>
**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
df.info():  None
country:  0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object
type(country) <class 'pandas.core.series.Series'>
{'Nicaragua', 'Sri Lanka', 'Mozambique', 'Niger', 'Austria', 'Zambia', 'Djibouti', 'Congo, Rep.', 'Albania', 'Australia', 'Congo, Dem. Rep.', 'Botswana', 'Jordan', "Cote d'Ivoire", 'Mauritius', 'Saudi Arabia', 'Pakistan', 'Guatemala', 'Norway', 'El Salvador', 'United States', 'Zimbabwe', 'Algeria', 'Italy', 'Canada', 'South Africa', 'Singapore', 'Sudan', 'Bolivia', 'France', 'Iran', 'Burundi', 'Spain', 'Korea, Rep.', 'Yemen, Rep.', 'Peru', 'Slovenia', 'Ghana', 'Malaysia', 'Mexico', 'Trinidad and Tobago', 'Syria', 'Nepal', 'Angola', 'Israel', 'Ecuador', 'Guinea', 'Paraguay', 'Tanzania', 'Cuba', 'China', 'Czech Republic', 'Tunisia', 'Reunion', 'Brazil', 'Hong Kong, China', 'Japan', 'Ethiopia', 'Bahrain', 'Montenegro', 'Puerto Rico', 'Taiwan', 'Morocco', 'Namibia', 'Malawi', 'Romania', 'Cambodia', 'Slovak Republic', 'Poland', 'Bangladesh', 'Argentina', 'Mongolia', 'Somalia', 'Finland', 'Senegal', 'Vietnam', 'Benin', 'Philippines', 'Afghanistan', 'Ireland', 'Sierra Leone', 'Burkina Faso', 'Costa Rica', 'Bulgaria', 'Gambia', 'Portugal', 'Swaziland', 'Panama', 'United Kingdom', 'Nigeria', 'Dominican Republic', 'Iceland', 'Croatia', 'Egypt', 'Lebanon', 'Guinea-Bissau', 'Central African Republic', 'Cameroon', 'Haiti', 'Uganda', 'Lesotho', 'Belgium', 'Iraq', 'Korea, Dem. Rep.', 'Kenya', 'Libya', 'Uruguay', 'Chad', 'Kuwait', 'Switzerland', 'Togo', 'Venezuela', 'Myanmar', 'Equatorial Guinea', 'Liberia', 'Colombia', 'Mali', 'Hungary', 'Turkey', 'Sao Tome and Principe', 'Indonesia', 'Denmark', 'Madagascar', 'Rwanda', 'Sweden', 'Germany', 'Honduras', 'Bosnia and Herzegovina', 'Thailand', 'Eritrea', 'Greece', 'Oman', 'Serbia', 'Jamaica', 'Chile', 'India', 'Gabon', 'Netherlands', 'West Bank and Gaza', 'Mauritania', 'Comoros', 'New Zealand'}
**************************************************
Nicaragua
Sri Lanka
Mozambique
Niger
Austria
Zambia
Djibouti
Congo, Rep.
Albania
Australia
Congo, Dem. Rep.
Botswana
Jordan
Cote d'Ivoire
Mauritius
Saudi Arabia
Pakistan
Guatemala
Norway
El Salvador
United States
Zimbabwe
Algeria
Italy
Canada
South Africa
Singapore
Sudan
Bolivia
France
Iran
Burundi
Spain
Korea, Rep.
Yemen, Rep.
Peru
Slovenia
Ghana
Malaysia
Mexico
Trinidad and Tobago
Syria
Nepal
Angola
Israel
Ecuador
Guinea
Paraguay
Tanzania
Cuba
China
Czech Republic
Tunisia
Reunion
Brazil
Hong Kong, China
Japan
Ethiopia
Bahrain
Montenegro
Puerto Rico
Taiwan
Morocco
Namibia
Malawi
Romania
Cambodia
Slovak Republic
Poland
Bangladesh
Argentina
Mongolia
Somalia
Finland
Senegal
Vietnam
Benin
Philippines
Afghanistan
Ireland
Sierra Leone
Burkina Faso
Costa Rica
Bulgaria
Gambia
Portugal
Swaziland
Panama
United Kingdom
Nigeria
Dominican Republic
Iceland
Croatia
Egypt
Lebanon
Guinea-Bissau
Central African Republic
Cameroon
Haiti
Uganda
Lesotho
Belgium
Iraq
Korea, Dem. Rep.
Kenya
Libya
Uruguay
Chad
Kuwait
Switzerland
Togo
Venezuela
Myanmar
Equatorial Guinea
Liberia
Colombia
Mali
Hungary
Turkey
Sao Tome and Principe
Indonesia
Denmark
Madagascar
Rwanda
Sweden
Germany
Honduras
Bosnia and Herzegovina
Thailand
Eritrea
Greece
Oman
Serbia
Jamaica
Chile
India
Gabon
Netherlands
West Bank and Gaza
Mauritania
Comoros
New Zealand
       country  year
0  Afghanistan  1952
1  Afghanistan  1957
2  Afghanistan  1962
3  Afghanistan  1967
4  Afghanistan  1972
       country  year
1699  Zimbabwe  1987
1700  Zimbabwe  1992
1701  Zimbabwe  1997
1702  Zimbabwe  2002
1703  Zimbabwe  2007
**************************************************
a.iloc[4] :  country    Afghanistan
year              1972
Name: 4, dtype: object
type(a.iloc[4]):  <class 'pandas.core.series.Series'>
df.iloc[4]:  country      Afghanistan
continent           Asia
year                1972
lifeExp           36.088
pop             13079460
gdpPercap     739.981106
Name: 4, dtype: object
**************************************************
0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object
type(df.iloc[ :, 0]):  <class 'pandas.core.series.Series'>
**************************************************
       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
**************************************************
country
Afghanistan           189884585
Albania                30962990
Algeria               238504874
Angola                 87712681
Argentina             343226879
                        ...
Vietnam               654822851
West Bank and Gaza     22183278
Yemen, Rep.           130118302
Zambia                 76245658
Zimbabwe               91703593
Name: pop, Length: 142, dtype: int64